[data-md-color-scheme="slate"] {
    --md-code-hl-number-color: #B5CEA8;
    /* --md-code-bg-color: #222222; */
    --md-code-hl-string-color: #CE9178;
    --md-code-hl-keyword-color: #569cd6;
    --md-code-hl-function-color: #dcdcaa;
    --md-code-hl-constant-color: #9CDCFE;
}